*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-contenedor{
    position: sticky;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}

.navbar-logo{
    justify-self: start;
    margin-left: 2em;
    color: white;
    margin-top: 2em;
    font-size: 2em;
   
}

.nav-button{
    margin-right: 3em;
    margin-top: 2em;
    cursor: pointer;
    background-color: black;
    border-style: none;
}

.cartel{
    background-image: url(./img/fondo-river.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.cartel-container{
    padding: 1em 0;
    text-align: center;

}

.cartel h2{
    font-size: 25px;
    color: white;

}

.cartel p{
    font-size: 1em;
    color: white;
}

.contenido-tienda{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.tarjeta-productos{
    max-width: 350px;
    box-shadow: 0 .5rem .8rem 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: space-around;
    
}

.tarjeta-productos > img{
    width: 90%;
    height: 250px;
    padding-bottom: .5rem;
    
}

.tarjeta-productos button{
    border: none;
    outline: 0;
    padding: .6rem;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    margin-top: .5rem;
}

.tarjeta-productos button:hover {
    opacity: 0.7;
}
